
.grid {
   display: grid;
   gap: 9rem;
}

.grid-two-container {
   grid-template-columns: repeat(2, 1fr);
}

.section-hero {
   background-color: var(--bg);
}

.section-data {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: flex-start;
}

.top-data {
   text-transform: uppercase;
   font-size: 1.9rem;
   font-weight: 500;
   color: var(--helper);
}

.top-data span {
   font-family: sofia;
   color: red;
   padding-left: .5rem;
}

.hero-img {
   max-width: 80%;
   box-shadow: 1rem 1rem 0 0 var(--helper);
   border-start-end-radius: 50px;
   border-end-start-radius: 50px;
}

.heading {
   text-transform: capitalize;
   font-size: 3rem;
   font-weight: 600;
}

.para {
   margin-top: 0.5rem;
   margin-bottom: 3rem;
   max-width: 80%;
   font-size: 1.6rem;

}

.section-hero-img {
   display: flex;
   justify-content: center;
   align-items: center;
}


/*bio data */




.bio-data-img{
   display: flex;
   align-items: center;
   justify-content: center;
}

.bio-img{
   width: 80%;
   box-shadow: -1rem -1rem 0 0 var(--helper);
}
