.section {
   padding: 7rem 0;
}

.container {
   max-width: 1400px;
   margin: 0 auto;
}

.grid {
   display: grid;
   gap: 9rem;
}

.grid-two-container {
   grid-template-columns: repeat(2, 1fr);
}

.section-hero {
   background-color: var(--bg);
}

.section-data {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: flex-start;
}

.top-data {
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 500;
   color: var(--helper);
}

.top-data span {
   font-family: sofia;
   color: red;
}

.hero-img {
   max-width: 80%;
   box-shadow: var(--shadow1);
}

.heading {
   text-transform: capitalize;
   font-size: 4.5rem;
   font-weight: 600;
}

.para {
   margin-top: 0.5rem;
   margin-bottom: 3rem;
   max-width: 80%;
   font-size: 1.6rem;

}

.section-hero-img {
   display: flex;
   justify-content: center;
   align-items: center;
}
