@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css2?family=Poppins');





* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   outline: none;
}


:root{
  --heading : #151B54; 
  --black : black;
  --para : Grey; 
  --para-tint : #e4e4e4; 
  --bg : rgb(249 249 255); 
  --helper : #8490ff; 
  --helper-tint: #f3f3ff; 
  --gradient : linear-gradient (0deg, rgb(132 144 255)0%, rgb(98 189 252)100%);
  --gradientSupport:-webkit-linear-gradient(0deg, rgb(132 144 255)0%, rgb(98 189 252)100%);
  --shadow :  10px  20px  20px 0px rgb(242 248 258 10%);
  --shadow1 : 10px 4px 8px 0 rgba(242, 248, 258, 0.2), 10px 6px 20px 0 rgba(248, 248, 259, 0.19);
}

h1, h2, h3, h4{
  font-family: "poppins";
  color: var(--heading)
}


h1{
  font-size:6rem;
  font-weight:600;
}

h3{
  font-size: 1.4rem;
  font-weight: 400;
}

p{
  color: var(--para);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 1.5rem;
}

.section {
   padding: 6rem 0;
}

.btn{
  background: var(--gradientSupport);
  padding:.5rem;
  border: none; 
  color: var(--helper-tint);
  display: inline-block;
  text-transform:uppercase;
  font-size:1rem;
  font-weight:500;
  cursor:pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear; 
  -moz-transition: all 0.3s linear; 
  -o-transition: all 0.3s linear;
}

.btn:hover,
.btn:active{
  box-shadow: var(--shadow);
}

.btn a{
display: flex;
align-items: center;
justify-content: center ;
   
}


.container {
   width: 100%;
   padding-right: 10px;
   padding-left: 10px;
   margin-right: auto;
   margin-left: auto;
}

@media (min-width: 576px) {
   .container {
      max-width: 540px;
   }
}

@media (min-width: 768px) {
   .container {
      max-width: 720px;
   }
}

@media (min-width: 992px) {
   .container {
      max-width: 960px;
   }
}

@media (min-width: 1200px) {
   .container {
      max-width: 1140px;
   }
}
