@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Sofia);
@import url(https://fonts.googleapis.com/css?family=Andika);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --heading: #151B54;
   --black: black;
   --para: Grey;
   --para-tint: #e4e4e4;
   --bg: rgb(249 249 255);
   --helper: #8490ff;
   --helper-tint: #f3f3ff;
   --gradient: linear-gradient (0deg, rgba(132 144 255)0%, rgba(98 189 252)100%);
   --gradientSupport: -webkit-linear-gradient(0deg, rgba(132 144 255)0%, rgba(98 189 252)100%);
   --shadow: 10px, 20px, 20px, 0px rgb(132 128 128 / 10%);
   --bg2: skyblue;
   --gradientSupport2: linear-gradient(0deg, rgba(132, 144, 260, .9), rgba(100, 190, 255, .9));

}

html {
   font-size: 62%;
}

body {
   overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
   font-family: "poppins";
   color: var(--heading)
}


h1 {
   font-size: 6rem;
   font-weight: 600;
}

h3 {
   font-size: 1.4rem;
   font-weight: 400;
}

p {
   color: var(--para);
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.6;
   font-size: 1.5rem;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}


.container {
   padding-top: 2rem;
   padding-bottom: 1rem;
   margin: 0 auto;
}


.btncs {
   margin: 1rem 0;
}

.paracs{
   font-size: 1.6rem;
   margin: 2rem 0;
   font-weight: 500;
}



.btncs {
   background: var(--gradientSupport);
   padding: .7rem .9rem;
   border: none;
   color: var(--helper-tint);
   display: inline-block;
   text-transform: uppercase;
   text-decoration: none;
   list-style: none;
   font-size: 1.7rem;
   font-weight: 500;
   cursor: pointer;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
}

.btncs:hover {
   box-shadow: 0px 20px 20px 0px rgb(132 144 255 / 30%);
   color: rgb(255 255 255);
}


.common-heading {
   font-size: 5rem;
   font-weight: 600;
   margin-bottom: 3rem;
   text-transform: capitalize;
   position: relative;
}

.common-heading::before {
   content: "";
   position: absolute;
   top: 120%;
   left: 0;
   width: 1.5rem;
   height: 1.5rem;
   border-radius: 30%;
   background: var(--helper);
}

.common-heading::after {
   content: "";
   position: absolute;
   top: 130%;
   left: 1.5rem;
   width: 15rem;
   height: 0.3rem;
   background-color: var(--helper);
}

/* |||||||\\\\\    header.||||||\\\\\\\\\\\\ */

.headercs {
   padding: 0 2.5rem;
   height: 10rem;
   background-color: var(--bg);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.headercs .logocs {
   height: 5rem;
}

.navbar-listcs {
   display: flex;
   gap: 3rem;
}

.navbar-linkcs:link,
.navbar-linkcs:visited {
   display: inline-block;
   text-decoration: none;
   font-size: 2.4rem;
   font-weight: 500;
   text-transform: uppercase;
   color: var(--black);
   transition: 0.5s linear;
   cursor: pointer;
}

.navbar-linkcs:hover,
.navbar-linkcs:active {
   color: var(--helper);
}

.nav-btn {
   position: absolute;
   display: none;
   background: transparent;
   cursor: pointer;
   border: none;
}

.nav-toggle{
   width: 4rem;
   height: 4rem;
   color: #212529;
}

.nav-btn .nav-btn-reoder {
   position: absolute;
   top: -2.5rem;
   left: -1rem;
   font-size: 4rem;

}


/* |||||||\\\\\\\\     content. ||||||||||~\\\\\*/

.sectioncs {
   padding: 3rem 0;
}


.container {
   margin: 0 auto;
}

.section-herocs {
   background: var(--bg);
}

.hero-top-datacs {
   text-transform: uppercase;
   font-weight: 500;
   font-size: 1.9rem;
   color: var(--helper);
}

.hero-headingcs {
   text-transform: capitalize;
   font-weight: 600;
   font-size: 4rem;
}


.section-hero-imagecs {
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero-img {
   max-width: 80%;
   z-index: 1;
}

.hero-img img {
   border-start-end-radius: 5rem;
   border-end-start-radius: 5rem;
   box-shadow: 1px 10px 8px 0 rgba(132, 144, 255, 0.2), 10px 10px 10px 0 rgba(140, 148, 259, 0.3);
}

.img-fluid {
   display: flex;
   margin: 0 auto;
}


/* ||||||\\\\\\\ media |||||||||||\\\\\\\ */

@media (max-width:600px) {
   
   html{

      font-size: 49.55%;
   }

   .hero-img,
   .hero-img2 {
      display: none;
   }

   .sectioncs {
      text-align: center;
      padding: 0 1rem ;
      
   }

}

@media (max-width:960px) {
   html{
      font-size: 52%;
   }

   .headercs .logocs {
      width: 39%;
      position: absolute;
      top: 1.8rem;
      right: 2rem;
   }

   .navbarcs {
      height: 100vh;
      width: 70%;
      position: fixed;
      display: block;
      top: 0rem;
      left: -70%;
      z-index: 9999;
      overflow-x: hidden;
      transition: 0.5s linear;
      background: var(--gradientSupport2);

   }
   
   
.navbarcs .nav-btn-remove {
  position: absolute;
  top: 1rem;
  right: 2.4rem;
  font-size: 4rem;
  margin-left: 5rem;
}


   .navbar-listcs {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 20rem;
   }

   .navbar-listcs .navbar-linkcs {
      font-size: 2.5rem;
      font-weight: 700;
      font-family: andika;
      display: block;
   }

   .navbar-linkcs:hover {
      color: var(--para-tint)
   }
   
   .nav-btn{
      display: block;
   }
   
   
}
